:root {
  --border-clr: rgba(0, 0, 0, 0.123);
  --bg-admin-nav: rgba(12, 14, 31, 0.582);
  /* --bg-admin-nav: rgba(128, 128, 128, 0.07); */
  --white-clr: white;
  --outline-clr: rgb(55, 194, 203);
  /* --clr-primary: rgb(209, 81, 45); */
  --clr-primary: #0028ff;
  --clr-secondary: #2c404e;
  --clr-compilment-text: #aed4dc;
  --clr-primary--hover: #68c0dba2;
  --link-clr: rgb(12, 14, 31);
  --orange-clr: rgb(209, 81, 45);
  /* margin top */
  --margin-top: 4rem;
  --margin-container-top: 8rem;
  --body-margin-inline: 8rem;
  --padding-inline-1: 10rem;
  --padding-block-1: 2rem;
  --padding-block-2: 1rem;
  --padding-block-3: 1.5rem;
  /* input padding */
  --input-padding-block: 1rem;
  --input-padding-inline: 1.5rem;
  /* btn color */
  --btn-blue: #246ee9;
  color: rgba(0, 0, 0, 0.646);
  --image__1--gradient: linear-gradient(135deg, #ffd26f 10%, #3677ff 100%);
  --shadow-1: 0 3px 3px 0 rgb(0 0 0 / 8%);
  --hover-bg: rgba(255, 255, 255, 0.654);
  --footer-clr: rgb(12, 14, 31);
  --margin-section-block-small: 4rem;
  --margin-section-block-large: 4rem;
  --padding-section-block: 8rem;
  --clr-body: rgba(194, 210, 189, 0.979);
  --clr-body: white;
  --clr-body-bg: rgb(236, 236, 236);
  --clr-error: red;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  font-size: 18px;
  font-size: 1.8rem;
  background-color: var(--clr-body-bg);
  line-height: 1.3;
}

ul {
  list-style: none;
}

ul a {
  text-decoration: none;
  color: var(--link-clr);
  letter-spacing: 1px;
}

h1 {
  font-family: "Fraunces", serif;
  font-weight: 900;
  letter-spacing: 0.6px;
}

p {
  font-size: 1.6rem;
  opacity: 0.8;
}

/* Admin page stying */
.admin__sort .admin .admin__search .admin__search .delete__icon {
  text-decoration: none;
  cursor: pointer;
}

.delete__icon {
  color: rgba(255, 0, 0, 0.755);
  opacity: 0.8;
}

.edit__icon {
  color: rgba(0, 0, 255, 0.755);
  opacity: 0.8;
}

.result__num {
  color: var(--clr-primary);
}

/* side navigation style end | home page */
.more__articles {
  text-align: center;
  color: var(--btn-blue);
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--clr-body);
  z-index: 1;
  box-shadow: var(--shadow-1);
}
.header__primary {
  padding-block: var(--padding-block-1);
  padding-inline: var(--padding-inline-1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--border-clr);
}
.header__secondary {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: var(--body-margin-inline);
  border-bottom: 1px solid var(--border-clr);
}
.header__secondary nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header--logo {
  color: var(--clr-primary);
  font-weight: bolder;
}
.header__cta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.header__cta--btn {
  padding: 1rem 2rem;
  padding: 1rem 2rem;
  border-radius: 5px;
  cursor: pointer;
}
.header__cta--btn a {
  color: var(--clr-primary);
  text-decoration: none;
}
.header__cta--signup {
  background-color: var(--clr-primary);
  color: var(--white-clr);
  border: none;
  padding: 1rem 2rem;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.header__cta--signup a {
  color: var(--white-clr);
  text-decoration: none;
}
.header__cta button {
  background-color: var(--clr-primary);
  color: var(--white-clr);
  padding: 1rem 1.2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.header__cta button a {
  color: white;
}
.header__cta button:hover {
  background-color: var(--clr-primary--hover);
}
.header__cta button:active {
  transform: scale(0.5);
}

.search {
  position: relative;
  box-shadow: var(--shadow-1);
}
.search__articles {
  padding: var(--input-padding-block) var(--input-padding-inline);
  width: 40rem;
  border: none;
  outline: none;
  border: 1px solid var(--border-clr);
  border-right: none;
  margin-right: -1px;
  box-shadow: var(--shadow-1);
}
.search__articles:focus {
  border: 1px solid var(--clr-primary);
  box-shadow: var(--shadow-1);
}
.search__button {
  background-color: transparent;
  color: var(--clr-primary);
  padding: var(--input-padding-block) var(--input-padding-inline);
  cursor: pointer;
  border: none;
  border: 1px solid var(--border-clr);
  border-left: none;
  box-sizing: content-box;
}

/* btn style start */
.btn {
  border: none;
  color: white;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  border-radius: 5px;
  /* read more btn style*/
  /* carrosel button */
}
.btn--submit {
  margin-bottom: 1rem;
  background-color: var(--btn-blue);
  padding: 1rem 3rem;
}
.btn--read {
  color: var(--clr-secondary);
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  transition: all 0.2s ease-in-out;
  border-radius: 0;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  text-decoration: underline;
  font-size: 1.6rem;
  font-weight: 900;
}
.btn__pagination {
  padding: 0.5rem 1rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-size: 4rem;
  color: var(--clr-secondary);
}
.btn__pagination:hover {
  color: var(--btn-blue);
}
.btn:hover {
  transform: scaleX(0.95);
}
.btn:hover:active {
  transform: scale(0.8);
}
.btn:hover::after {
  opacity: 1;
  transform: translateX(0px);
}
.btn--side {
  color: var(--clr-primary);
}
.btn--login, .btn--logout {
  background-color: var(--clr-primary);
  color: var(--white-clr);
  border: none;
  padding: 1rem 2rem;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
}
.btn--logout {
  background-color: transparent;
  color: var(--clr-primary);
}

.nav__list {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--bg-admin-nav);
}
.nav__list--item {
  font-size: 1.2rem;
  text-align: center;
  border-top: 3px solid transparent;
  padding: 2rem;
}
.nav__list--item a {
  text-transform: uppercase;
  font-weight: bold;
  padding: 1rem;
}
.nav__list--item:hover {
  background-color: var(--hover-bg);
  cursor: pointer;
}

.table__footer {
  padding-block: 2rem;
  padding-inline: 2rem;
  display: flex;
  background-color: var(--white-clr);
}
.table__footer--pages {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 20px;
}
.table__footer--pages select {
  padding: 0.5rem 1rem;
  border: none;
  border: 1px solid var(--border-clr);
}
.table__footer--pages p {
  color: var(--clr-primary);
}
.table__footer--result {
  display: flex;
  align-items: center;
  gap: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: var(--white-clr);
}
table thead {
  background-color: var(--white-clr);
}
table thead tr td {
  padding-block: 2rem;
  border-bottom: 1px solid var(--border-clr);
  padding-inline: 2rem;
  transition: all 0.3s ease-in-out;
}
table tbody tr td {
  padding-block: 2rem;
  border-bottom: 1px solid var(--border-clr);
  padding-inline: 2rem;
  font-weight: 500;
  font-size: 1.6rem;
}
table tbody tr td:hover {
  box-shadow: var(--shadow-1);
  border: var(--clr-primary--hover);
}
table tbody tr td img {
  width: 100px;
}
table tbody tr:nth-child(odd) {
  background-color: rgba(170, 195, 189, 0.0549019608);
}

.delete__icon {
  padding: 1rem;
  cursor: pointer;
}

/* form design | starts here */
.form__row {
  margin-block: 3rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.form__row input,
.form__row textarea {
  padding: 2rem 2rem;
  border: 1px solid var(--border-clr);
  outline: none;
}
.form__row input:focus,
.form__row textarea:focus {
  outline: 2px solid var(--outline-clr);
  box-shadow: var(--shadow-1);
}
.form__row input,
.form__row textarea {
  width: 100%;
}
.form__row textarea {
  border-radius: 5px;
}
.form__row--label {
  margin-bottom: 0.2rem;
  background-color: var(--white-clr);
  background-color: transparent;
  width: max-content;
}
.form__row--image {
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid var(--border-clr);
  cursor: pointer;
  align-self: flex-start;
  width: 50px;
  background-position: center;
}
.form__row--image img {
  width: 100%;
  aspect-ratio: 10/9;
  object-fit: cover;
}
.form__row--img {
  background-color: var(--white-clr);
}
.form__row--imgCurrent {
  width: 50%;
}

/* form design end here */
.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  align-items: center;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.266);
}
.modal--show {
  display: none;
}
.modal__form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  background-color: var(--clr-body-bg);
  padding: 3rem;
  padding-bottom: 6rem;
  box-shadow: var(--shadow-1);
  border-radius: 10px;
  width: min(60%, 600px);
}
.modal__form--row {
  display: flex;
  gap: 20px;
}
.modal__form--btn {
  background-color: var(--clr-primary);
  width: 100px;
  text-align: center;
  font-size: 1.6rem;
  padding: 1rem;
  color: var(--white-clr);
  text-decoration: none;
  border-radius: 5px;
  box-shadow: var(--shadow-1);
  border: 2px solid var(--clr-primary);
}
.modal__form--btn:first-child {
  background-color: transparent;
  color: var(--clr-primary);
}
.modal__form--close {
  display: flex;
  float: right;
  margin-left: auto;
  justify-self: flex-end;
}
.modal__form--close button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.error-message {
  color: var(--clr-error);
}

.container {
  display: grid;
  grid-auto-flow: column;
  margin-inline: var(--body-margin-inline);
  margin-top: var(--margin-container-top);
}
.container__articles {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1px;
  margin-top: 10rem;
  height: 450px;
}
.container__articles--grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1px;
}

/* artcile page style | starts here */
.article {
  margin-inline: var(--body-margin-inline);
  margin-block: var(--margin-top);
  margin-top: 16rem;
  display: flex;
  gap: 20px;
}
.article aside {
  margin-top: 0;
}
.article__cta {
  font-weight: 700;
  border-block: 1px solid var(--border-clr);
  padding-block: 2rem;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}
.article__cta em {
  width: 20px;
  height: 20px;
  color: var(--clr-primary);
}
.article__cta em:hover {
  cursor: pointer;
  color: var(--clr-primary-hover);
  transform: scale(1.1);
}
.article__cta span {
  font-size: 1.2rem;
}
.article__comments {
  font-size: 2rem;
}
.article__comments p {
  font-size: 2rem;
}
.article--text {
  color: var(--clr-secondary);
  margin-block: 3rem;
}
.article--title {
  font-weight: 900;
  color: var(--clr-secondary);
  font-size: 3rem;
  margin-bottom: 3rem;
}
.article__text {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 1rem;
  padding-inline: 2rem;
}
.article__text h1 {
  font-size: 3.5rem;
  margin-bottom: 0.5rem;
  font-weight: bolder;
  background-color: rgba(255, 255, 255, 0.639);
  padding: 1rem;
  box-shadow: var(--shadow-1);
  opacity: 1;
  color: black;
}
.article__text p {
  color: rgb(255, 255, 255);
  opacity: 0.8;
  margin-bottom: 0.5rem;
  font-size: 1.6rem;
}
.article__text--paragraph {
  padding-bottom: 1rem;
}
.article__date {
  font-size: 1.25rem;
  font-weight: bold;
  color: white;
}
.article--image {
  border: 1px solid var(--border-clr);
  height: 100%;
  overflow: hidden;
  cursor: pointer;
  height: 100%;
}
.article--image img {
  width: 100%;
  height: 100%;
}
.article--image img:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}
.article article {
  display: grid;
  gap: 20px;
}
.article__wrappper {
  height: 100%;
  -webkit-filter: opacity(90%);
  filter: opacity(90%);
}
.article__wrappper img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 10/5;
  filter: brightness(50%);
}
.article__wrappper--large {
  background: var(--image__1--gradient);
  background-blend-mode: darken;
}
.article__wrappper--large h1 {
  background-color: #2e3440;
  color: white;
  font-size: 2.5rem;
}
.article__wrappper--small h1 {
  font-size: 1.8rem;
  background-color: rgba(0, 0, 0, 0.641);
  box-shadow: var(--shadow-1);
}
.article__wrappper--large {
  background-image: linear-gradient(135deg, #00ffbb 10%, #02e6ff 60%), url("../images/What-Do-Software-Engineers-Do-WOZ-1-min.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: darken, luminosity;
  display: flex;
  justify-content: left;
  align-items: flex-end;
}
.article__wrappper--1 {
  background-image: linear-gradient(135deg, rgba(6, 172, 243, 0.9607843137) 10%, #45ff0c 100%), url(../images/swangz.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: hue;
  display: flex;
  justify-content: left;
  align-items: flex-end;
}
.article__wrappper--1 h1 {
  background-color: #0b7285;
  color: white;
}
.article__wrappper--1 p {
  color: white;
}
.article__wrappper--2 {
  background-image: linear-gradient(135deg, #81ffef 10%, #f067b4 100%), url(../images/Secondhand-clothing-on-sale-satisfashionug.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: hue, darken;
  display: flex;
  justify-content: left;
  align-items: flex-end;
}
.article__wrappper--2 h1 {
  background-color: #2b8a3e;
  color: white;
}
.article__wrappper--3 {
  background-image: linear-gradient(to bottom, rgba(255, 153, 28, 0.372) 10% 20%, rgb(150, 255, 13)), url(../images/Programming-Language-Popularity.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: darken, luminosity;
  display: flex;
  justify-content: left;
  align-items: flex-end;
}
.article__wrappper--3 h1 {
  background-color: #9f44d3;
  color: white;
}
.article__wrappper--4 {
  background-image: url("../images/meditation.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: darken, luminosity;
  display: flex;
  justify-content: left;
  align-items: flex-end;
}
.article__wrappper--4 h1 {
  background-color: #0e5cad;
  color: white;
}
.article__comments--no {
  text-align: center;
  font-size: 1rem;
}

/* artcile page style | ends here */
/* must read artcile | start */
.read__article {
  margin-inline: var(--body-margin-inline);
  margin-block: var(--margin-section-block-small);
  display: grid;
  grid-template-columns: 1fr min-content;
  gap: 3rem;
}
.read__article--heading {
  color: var(--clr-secondary);
  width: fit-content;
  padding-block: 2rem;
  border-top-right-radius: 15px;
  border-bottom: 2px solid var(--clr-secondary);
  font-weight: 900;
}
.read__article--underline {
  border-bottom: 1px solid var(--border-clr);
  margin-bottom: 3rem;
  margin-inline: var(--body-margin-inline);
  margin-top: var(--margin-top);
}
.read__article--underline1 {
  margin-inline: 0;
}

/* must read artcile | ends here*/
/* latest articles | starts here */
.lastest__articles {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  gap: 25px;
}
.lastest__articles--title {
  font-size: 2rem;
}
.lastest__articles--date {
  font-size: 1.2rem;
}
.lastest__articles article {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  background-color: var(--white-clr);
  box-shadow: var(--shadow-1);
}
.lastest__articles article a {
  text-decoration: none;
}
.lastest__articles--cta {
  color: var(--clr-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
}
.lastest__articles--image {
  background-color: black;
  background-blend-mode: lighten;
  filter: brightness(90%);
  overflow: hidden;
}
.lastest__articles--image img {
  width: 100%;
  height: 100%;
}
.lastest__articles--image img:hover {
  transform: scale(1.1);
  transition: all 0.5s ease;
}
.lastest__articles--text {
  display: grid;
  justify-content: baseline;
  gap: 20px;
  padding: 2rem;
}
.lastest__articles--text a {
  display: grid;
  justify-self: left;
}
.lastest__articles img {
  aspect-ratio: 10/7;
  width: 100%;
  object-fit: cover;
}
.lastest__articles--paragraph {
  text-align: center;
}

/* latest articles | ends here */
/* Recommeded artciles style | start ends  */
.recommended__articles {
  margin-top: var(--margin-top);
  margin-inline: var(--body-margin-inline);
}
.recommended__articles article {
  box-shadow: var(--shadow-1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  position: relative;
  background-image: rgba(132, 226, 104, 0.8);
  border: 1px solid var(--border-clr);
  overflow: hidden;
  transition: all ease-in-out;
  background-color: #fff;
}
.recommended__articles article:hover .recommended__articles--images {
  filter: blur(5px);
}
.recommended__articles article:hover .recommended__articles--text {
  transform: scale(1);
  transition: all 0.5s ease-in-out;
}
.recommended__articles--underline {
  background-color: var(--bg-light-clr);
  margin-bottom: 3rem;
  margin-top: var(--margin-top);
}
.recommended__articles--container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.recommended__articles--heading {
  color: var(--clr-primary);
  width: fit-content;
  padding: 1rem;
  border-bottom: 2px solid var(--clr-primary);
}
.recommended__articles--wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1rem;
}
.recommended__articles--images {
  display: flex;
  align-items: center;
  justify-content: center;
}
.recommended__articles--images img {
  aspect-ratio: 10/9;
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-filter: opacity(90%);
  filter: opacity(90%);
  cursor: pointer;
}
.recommended__articles--images img:hover {
  transform: scale(1.1);
  transition: all 0.5s ease;
}
.recommended__articles--text {
  font-size: 1.6rem;
  padding-inline: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: absolute;
  font-weight: 500;
  padding-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.398);
  transform: scale(0);
  transition: all 0.3s ease;
}
.recommended__articles--text a {
  background-color: var(--clr-primary);
  filter: contrast(2);
  color: white;
  text-decoration: none;
  padding: 1rem 2rem;
  border-radius: 4px;
  box-shadow: var(--border-clr);
}
.recommended__articles--btn {
  margin-left: 1rem;
}

/* Recommeded artciles | style here */
/* featured article styles | starts here */
.featured__articles {
  margin-inline: var(--body-margin-inline);
  margin-block: var(--margin-section-block-large);
}
.featured__articles--title {
  font-size: 1.8rem;
}
.featured__articles--date {
  font-size: 1rem;
  opacity: 0.8;
}
.featured__articles--wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(40rem, 1fr));
  margin-block: var(--margin-section-block-large);
  gap: 25px;
}
.featured__articles--wrapper--image {
  background-blend-mode: lighten;
}
.featured__articles--wrapper--image img {
  width: 100%;
}
.featured__articles--wrapper--image img:hover {
  transform: scale(1.1);
  transition: all 0.5s ease;
}
.featured__articles--wrapper article {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  font-size: 1.6rem;
}
.featured__articles--wrapper article a {
  text-decoration: none;
}
.featured__articles--wrapper article:nth-child(1) {
  grid-column: 1/2;
  grid-row: -2/span 2;
}
.featured__articles--wrapper article:nth-child(2) {
  display: flex;
  flex-direction: row;
  gap: 15px;
  grid-row: span -2/2;
}
.featured__articles--wrapper article:nth-child(3) {
  display: flex;
  flex-direction: row;
  gap: 15px;
  grid-row: 1/2;
}
.featured__articles--image {
  overflow: hidden;
  width: 100%;
}
.featured__articles--image img {
  height: 100%;
  border: 1px solid var(--border-clr);
  background-color: var(--border-clr);
  filter: blur(0.5px);
  aspect-ratio: 10/6;
}
.featured__articles--image img:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: all 0.5s ease;
}
.featured__articles img {
  width: 100%;
  object-fit: cover;
  background-blend-mode: lighten;
  width: 100%;
}
.featured__articles img img:hover {
  transform: scale(1.1);
  transition: all 0.5s ease;
}
.featured__articles--cta {
  color: var(--clr-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
}
.featured__articles--text {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-block: 1.4rem;
}
.featured__articles--text a {
  display: grid;
  justify-self: left;
}

/* featured article styles | ends here */
/* side navigation style start | home page */
aside {
  margin-left: 1rem;
  width: 400px;
  margin-top: calc(var(--margin-top) * 2);
  font-size: 2rem;
  box-shadow: var(--shadow-1);
}

.side__list--1 {
  background-color: white;
  border: 1px solid var(--border-clr);
}
.side__list--navigation {
  background-color: white;
  display: flex;
  padding: 1.6rem;
}
.side__list--navigation button {
  width: 100%;
  border: none;
  border: none;
  cursor: pointer;
  padding: 1.8rem 1rem;
  font-weight: 400;
  letter-spacing: 0.6px;
  background-color: white;
}
.side__list--navigation button:hover {
  background-color: var(--clr-primary);
  color: var(--white-clr);
}
.side__list--navigation h1 {
  color: var(--clr-secondary);
  font-weight: 900;
}
.side__list--active {
  border-bottom: 1px solid var(--btn-blue);
}
.side__list--content {
  display: grid;
  grid-auto-flow: column;
  gap: 10px;
  margin-block: 1rem;
  padding: 0.8rem;
  background-color: white;
}
.side__list--content:not(:last-child) {
  border-bottom: 1px solid var(--border-clr);
}
.side__list--img {
  width: 100%;
}
.side__list--img img {
  width: 100%;
  aspect-ratio: 10/7;
  object-fit: cover;
  inline-size: 100px;
  /* height: fit-content; */
  writing-mode: vertical-rl;
}
.side__list--text {
  padding: 1rem;
  display: grid;
  gap: 10px;
  justify-content: center;
  background-color: white;
}
.side__list--heading {
  font-size: 1.6rem;
}
.side__list--paragraph {
  font-size: 1.4rem;
}
.side__list__heading {
  margin-block: 1rem;
}
.side__list__list a {
  font-size: 0.9rem;
  text-decoration: underline;
}
.side__list__nav {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

/* side navigation style end | home page */
/* footer style | starts here */
.footer {
  background-color: var(--clr-secondary);
  padding-inline: var(--body-margin-inline);
  padding-block: 5rem;
  margin-top: calc(var(--margin-top) * 2);
  border-top: 1px solid var(--border-clr);
}
.footer h1 {
  color: white;
  color: var(--clr-compilment-text);
}
.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border-clr);
  padding-block: 6rem;
}
.footer__navigation {
  color: var(--white-clr);
  display: flex;
  justify-content: left;
  align-items: baseline;
  gap: 20px;
}
.footer__navigation--item a {
  color: var(--clr-primary);
  color: var(--clr-compilment-text);
  font-size: 1.6rem;
}
.footer p {
  padding-block: 2rem;
  text-align: right;
}
.footer__form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 50%;
  margin: 0 auto;
  padding-top: 5rem;
}
.footer__form--input {
  width: 100%;
  padding: 1rem 2rem;
  border: 1px solid var(--border-clr);
  border-radius: 5px;
  outline: none;
}
.footer__form--button {
  background-color: var(--clr-primary);
  color: var(--white-clr);
  border: none;
  margin-bottom: 0;
  outline: none;
  cursor: pointer;
}

/* footer style | ends here */
/* Admin page styling | starts here */
.admin__profile {
  border-radius: 50%;
}
.admin__profile--wrapper {
  width: 100%;
  border: 1.5px solid var(--clr-compilment-text);
}
.admin__profile img {
  width: 200px;
}
.admin__link a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  margin-block: var(--padding-block-2);
}
.admin__header {
  width: 100%;
  margin-inline: 0;
}
.admin__primary {
  padding-block: var(--padding-block-1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--border-clr);
  padding-inline: 4rem;
  background-color: var(--white-clr);
}
.admin__secondary {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: var(--body-margin-inline);
  border-bottom: 1px solid var(--border-clr);
}
.admin__wrapper {
  position: relative;
  display: flex;
}
.admin__container {
  position: absolute;
  right: 0;
  left: 100px;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.admin__container nav {
  position: relative;
}
.admin__nav {
  position: fixed;
  top: 0;
  bottom: -1;
  width: 100px;
  height: 100vh;
  background-color: var(--clr-secondary);
  border-right: 1px solid var(--border-clr);
}
.admin__nav--item {
  padding: 2rem 4rem;
  border-bottom: 1px solid var(--bg-light-clr);
  color: var(--clr-compilment-text);
  cursor: pointer;
}
.admin__nav--item a {
  color: var(--clr-compilment-text);
}
.admin__nav--item:first-child {
  border-top: 1px solid var(--bg-light-clr);
  box-sizing: var(--shadow-1);
}
.admin__nav--item:hover {
  border-left: 5px solid var(--clr-compilment-text);
  background-color: var(--clr-primary--hover);
  filter: brightness(100%);
  color: var(--white-clr);
  transition: all 0.2s ease-in-out;
}
.admin__content {
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-inline: 2.25rem;
  margin-inline: 4rem;
}
.admin__content h1 {
  margin-block: 3rem;
  color: var(--clr-primary);
  font-size: 3rem;
}
.admin__content--heading {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1rem;
  opacity: 0.8;
  font-weight: lighter;
}
.admin__content--user img {
  width: 50px;
  border-radius: 50%;
}
.admin__content--user img:hover {
  cursor: pointer;
  border: 1px solid var(--clr-body);
}
.admin__link a {
  background-color: var(--clr-primary);
  padding: 1rem 2rem;
  color: var(--white-clr);
}
.admin__cards {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 20px;
  margin-bottom: 3rem;
}
.admin__card {
  padding: 2.5rem 1rem;
  text-align: center;
  border: 1px solid var(--border-clr);
  background-color: var(--white-clr);
  border-radius: 25px;
}
.admin__card--icon {
  font-size: 2.5rem;
  color: rgb(196, 196, 196);
}
.admin__card--icon i {
  cursor: pointer;
}
.admin__card:hover {
  box-shadow: var(--shadow-1);
  border-color: var(--clr-primary--hover);
}
.admin__card:not(:last-child) {
  border-right: 1px solid var(--border-clr);
}
.admin__card--num {
  margin-block: 1.5rem;
  font-size: 2.5rem;
  color: var(--clr-primary);
  font-weight: bold;
}
.admin__all--heading {
  display: flex;
  padding: 2rem 3rem;
  align-items: center;
  position: relative;
}
.admin__all--heading h1 {
  font-size: 2rem;
  color: var(--clr-primary);
}
.admin__all--writters {
  border: 1px solid var(--border-clr);
  background-color: var(--white-clr);
  box-shadow: var(--shadow-1);
  border-radius: 20px;
}
.admin__actions {
  width: 100%;
  padding-block: 3rem;
  padding-inline: 2rem;
  background-color: rgba(128, 128, 128, 0.07);
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-block: 1px solid var(--border-clr);
}
.admin__search {
  margin-left: auto;
  position: relative;
  width: 300px;
}
.admin__search--input {
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  border: none;
  border-bottom: 1px solid var(--border-clr);
  width: 100%;
  outline: none;
}
.admin__search--btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  transform: translateX(-15px);
}
.admin__sort {
  display: flex;
  gap: 10px;
  align-items: center;
}
.admin__sort--performed {
  display: flex;
  margin-top: 1rem;
}
.admin__sort--filter {
  display: flex;
  align-items: center;
}
.admin__sort--filter p {
  color: var(--clr-secondary);
}
.admin__sort--tag {
  margin-left: 1rem;
  font-size: 1.3rem;
  opacity: 0.8;
}
.admin__sort--clear {
  margin-left: 1rem;
  text-decoration: none;
}
.admin__sort select {
  padding: 1rem;
  cursor: pointer;
  text-transform: capitalize;
  border: none;
  border: 1px solid var(--border-clr);
  outline: none;
  background-color: white;
}
.admin__sort select option span {
  padding: 1rem;
}
.admin__sort select:hover {
  outline: 1px solid var(--clr-primary--hover);
  box-shadow: var(--shadow-1);
}
.admin--logo {
  color: var(--clr-primary);
}
.admin__humbuger {
  border-bottom: 1px solid var(--clr-compilment-text);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 2.25rem;
  margin-bottom: 1rem;
  padding-top: 4rem;
}
.admin__humbuger--bar1, .admin__humbuger--bar2, .admin__humbuger--bar3 {
  display: block;
  width: 35px;
  height: 4px;
  background-color: var(--clr-compilment-text);
  margin-bottom: 4px;
  border-radius: 5px;
}
.admin__humbuger--btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* Admin page styling | starts here */
.timeline {
  margin-top: 8rem;
}
.timeline__btn {
  display: flex;
  align-self: flex-end;
}
.timeline__cta {
  font-weight: 700;
  border-block: 1px solid var(--border-clr);
  padding-block: 2rem;
  padding-left: 2rem;
  display: flex;
  gap: 20px;
}
.timeline__cta em {
  width: 20px;
  height: 20px;
  color: var(--clr-primary);
}
.timeline__cta em:hover {
  cursor: pointer;
  color: var(--clr-primary-hover);
  transform: scale(1.1);
}
.timeline__cta span {
  font-size: 1.2rem;
}
.timeline__form {
  border: 1px solid var(--border-clr);
  margin-bottom: 1rem;
  display: flex;
  gap: 15px;
  background-color: var(--white-clr);
  box-shadow: var(--shadow-1);
}
.timeline__form textarea {
  height: 80px;
  width: 100%;
  resize: none;
  padding: 1rem;
  margin-bottom: 1rem;
  border: none;
  border: 1px solid var(--border-clr);
}
.timeline__form textarea:hover {
  box-shadow: var(--shadow-1);
}
.timeline__form--input {
  flex: 1;
}
.timeline__text {
  padding: 2rem;
  border-bottom: 1px solid var(--border-clr);
}
.timeline__text--title {
  margin-bottom: 1rem;
}
.timeline__wrapper {
  border: 1px solid var(--border-clr);
  background-color: var(--white-clr);
}
.timeline__wrapper article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.timeline__wrapper article input {
  width: 100%;
}
.timeline__creator {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  gap: 20px;
  padding-block: 2rem;
  padding-inline: 1.5rem;
}
.timeline__creator--image {
  width: 40px;
  border-radius: 100%;
  align-self: baseline;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid var(--border-clr);
}
.timeline__creator--image img {
  width: 100%;
  height: 100%;
  aspect-ratio: 10/9;
  object-fit: cover;
}
.timeline__comments--commentor {
  display: flex;
  justify-content: flex-start;
  align-self: center;
  gap: 20px;
  padding-block: 1.5rem;
  padding-inline: 1.5rem;
}
.timeline__comments--image {
  width: 40px;
  border-radius: 100%;
  align-self: baseline;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid var(--border-clr);
}
.timeline__comments--image img {
  width: 100%;
  height: 100%;
  aspect-ratio: 10/9;
  object-fit: cover;
}
.timeline__comments--form {
  margin-top: 2rem;
  padding-block: 1rem;
  padding: 2rem 1rem;
  display: flex;
  gap: 15px;
  background-color: var(--bg-light-clr);
  border-top: 1px solid var(--border-clr);
  box-shadow: var(--shadow-1);
}
.timeline__comments--form textarea {
  height: 40px;
  width: 100%;
  resize: none;
  padding: 1rem;
  margin-bottom: 1rem;
  border: none;
  border: 1px solid var(--border-clr);
}
.timeline__comments--form textarea:hover {
  outline: 1px solid var(--clr-primary--hover);
  box-shadow: var(--shadow-1);
}
.timeline__comments--content {
  margin-inline: 2rem;
}
.timeline__commentors--image img {
  width: 100%;
}
.timeline__image {
  width: 100%;
}
.timeline__image img {
  width: 100%;
}

.login__page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.login__page--container {
  width: min(400px, 50%);
}
.login__page--container h1 {
  margin-bottom: 2rem;
}
.login__form {
  width: 100%;
}
.login__row label,
.login__row input {
  width: 100%;
}
.login__row input {
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

/*# sourceMappingURL=style.css.map */
