/* btn style start */
.btn {
	border: none;
	color: var(--white-clr);
	cursor: pointer;
	transition: all 0.2s ease-in-out;
	border-radius: 5px;

	&--submit {
		margin-bottom: 1rem;
		background-color: var(--clr-primary);
		padding: var(--size-1) var(--size-2);
	}

	/* read more btn style*/
	&--read {
		color: var(--clr-primary);
		transition: all 0.2s ease-in-out;
		border-radius: 0;
		border-radius: 5px;
		position: relative;
		overflow: hidden;
		text-decoration: underline;
		font-size: 1.6rem;
		font-weight: 900;

		&:first-child,
		&:last-child {
			color: var(--clr-primary);
		}
	}

	/* carrosel button */
	&__pagination {
		padding: 0.5rem 1rem;
		border: none;
		background-color: transparent;
		cursor: pointer;
		transition: all 0.2s ease-in-out;
		font-size: 4rem;
		color: var(--clr-secondary);

		&:hover {
			color: var(--btn-blue);
		}
	}

	// // button hover effects
	// &:hover {
	// 	transform: scaleX(0.95);

	// 	&:active {
	// 		transform: scale(0.8);
	// 	}

	// 	&::after {
	// 		opacity: 1;
	// 		transform: translateX(0px);
	// 	}
	// }

	&--side {
		color: var(--clr-primary);
	}

	&--login,
	&--logout {
		background-color: var(--clr-primary);
		color: var(--white-clr);
		border: none;
		padding: 1rem 2rem;
		border-radius: 5px;
		cursor: pointer;
		transition: all 0.2s ease-in-out;
		text-transform: uppercase;
		text-decoration: none;
		font-weight: bold;
	}

	&--logout {
		background-color: transparent;
		color: var(--clr-primary);
	}
}
