/* form design | starts here */
.form {
	&__row {
		margin-block: 3rem;

		input,
		textarea {
			padding: 1rem 1.6rem;
			border: 1px solid var(--border-clr);
			outline: none;

			&:focus {
				outline: 1px solid var(--outline-clr);
			}
		}

		input,
		label,
		textarea {
			width: 100%;
		}

		&--label {
			margin-bottom: 2rem;
			margin-left: 0.5rem;
			position: absolute;
			transform: translateY(-10px);
			background-color: var(--white-clr);
			width: max-content;
		}
	}
}

/* form design | end here */
