/* form design | starts here */
.form {
	&__row {
		margin-block: 3rem;
		display: flex;
		flex-direction: column;
		gap: 10px;

		input,
		textarea {
			padding: 2rem 2rem;
			border: 1px solid var(--border-clr);
			outline: none;

			&:focus {
				outline: 2px solid var(--outline-clr);
				box-shadow: var(--shadow-1);
			}
		}

		input,
		textarea {
			width: 100%;
		}

		textarea {
			border-radius: 5px;
		}

		&--label {
			margin-bottom: 0.2rem;
			font-size: 2rem;
			background-color: var(--white-clr);
			background-color: transparent;
			width: max-content;
		}

		&--image {
			border-radius: 50%;
			overflow: hidden;
			border: 2px solid var(--border-clr);
			cursor: pointer;
			align-self: flex-start;
			width: 50px;
			background-position: center;

			img {
				width: 100%;
				// height: 100%;
				aspect-ratio: 10 / 9;
				object-fit: cover;
			}
		}

		&--img {
			background-color: var(--white-clr);
		}

		&--imgCurrent {
			width: 50%;
		}
	}
}

/* form design end here */
