.header {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: var(--white-clr);
	z-index: 1;
	box-shadow: var(--shadow-1);

	&__primary {
		padding-block: var(--padding-block-1);
		padding-inline: var(--padding-inline-1);
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-bottom: 1px solid var(--border-clr);
	}

	&__secondary {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-inline: var(--body-margin-inline);
		border-bottom: 1px solid var(--border-clr);
	}

	&--logo {
		color: var(--clr-primary);
	}

	&__cta {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 20px;

		&--btn {
			padding: 1rem 1.5rem;

			a {
				color: var(--clr-primary);
				text-decoration: none;
			}
		}

		button {
			background-color: var(--clr-primary);
			color: var(--white-clr);
			padding: 1rem 1.2rem;
			border: none;
			border-radius: 5px;
			cursor: pointer;
			transition: all 0.3s ease-in-out;

			a {
				color: white;
			}

			&:hover {
				background-color: var(--clr-primary--hover);
			}

			&:active {
				transform: scale(.5);
			}
		}
	}
}
