.modal {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 40px;
	align-items: center;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100vh;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.266);

	&--show {
		display: none;
	}

	&__form {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		gap: 40px;
		background-color: var(--white-clr);
		padding: 3rem;
		padding-bottom: 6rem;
		box-shadow: var(--shadow-1);
		border-radius: 10px;
		width: Min(60%, 600px);

		&--row {
			display: flex;
			gap: 20px;
		}
		&--btn {
			background-color: var(--clr-primary);
			width: 100px;
			text-align: center;
			font-size: 1.6rem;
			padding: 1rem;
			color: var(--white-clr);
			text-decoration: none;
			border-radius: 5px;
			box-shadow: var(--shadow-1);
			border: 2px solid var(--clr-primary);

			&:first-child {
				background-color: transparent;
				color: var(--clr-primary);
			}
		}

		&--close {
			display: flex;
			float: right;
			margin-left: auto;
			justify-self: flex-end;
			background-color: var(--clr-primary);

			button {
				border: none;
				background-color: transparent;
				cursor: pointer;
			}
		}
	}
}
