.nav {
	&__list {
		display: flex;
		justify-content: center;
		align-items: center;
		color: var(--bg-admin-nav);

		&--item {
			font-size: 1.6rem;
			text-align: center;
			border-top: 3px solid transparent;
			padding: 2rem;

			a {
				padding: 1rem;
				color: var(--gray-7);
			}

			&:hover {
				background-color: var(--hover-bg);
				cursor: pointer;
			}
		}
	}
}
