.search {
	position: relative;

	&__articles {
		padding: var(--input-padding-block) var(--input-padding-inline);
		width: 40rem;
		transform: translateX(5px);
		border: none;
		outline: none;
		border: 1px solid var(--border-clr);
		border-right: none;
	}

	&__button {
		background-color: transparent;
		color: var(--white-clr);
		padding: var(--input-padding-block) var(--input-padding-inline);
		cursor: pointer;
		border: none;
		border: 1px solid var(--border-clr);
		border-left: none;
		box-sizing: content-box;
	}
}
