.search {
	position: relative;
	box-shadow: var(--shadow-1);

	&__articles {
		padding: var(--input-padding-block) var(--input-padding-inline);
		width: 40rem;
		border: none;
		outline: none;
		border: 1px solid var(--border-clr);
		border-right: none;
		margin-right: -1px;
		box-shadow: var(--shadow-1);

		&:focus {
			border: 1px solid var(--clr-primary);
			box-shadow: var(--shadow-1);
		}
	}

	&__button {
		background-color: transparent;
		color: var(--clr-primary);
		padding: var(--input-padding-block) var(--input-padding-inline);
		cursor: pointer;
		border: none;
		border: 1px solid var(--border-clr);
		border-left: none;
		box-sizing: content-box;
	}
}
