/* artcile page style | starts here */
.article {
	margin-top: 16rem;
	display: flex;
	gap: 20px;

	aside {
		margin-top: 0;
	}

	&__cta {
		font-weight: 700;
		border-block: 1px solid var(--border-clr);
		padding-block: 2rem;
		display: flex;
		justify-content: flex-end;
		gap: 20px;

		em {
			width: 20px;
			height: 20px;
			color: var(--clr-primary);

			&:hover {
				cursor: pointer;
				color: var(--clr-primary-hover);
				transform: scale(1.1);
			}
		}

		span {
			font-size: 1.2rem;
		}
	}

	&__comments {
		font-size: 2rem;

		p {
			font-size: 2rem;
		}
	}

	&--text {
		color: var(--clr-secondary);
		margin-block: 3rem;
	}

	&--title {
		font-weight: 900;
		color: var(--clr-secondary);
		font-size: 3rem;
		margin-bottom: 3rem;
	}

	&__text {
		display: flex;
		flex-direction: column;
		gap: 15px;
		padding: 1rem;
		padding-inline: 2rem;

		h1 {
			font-size: 3.5rem;
			margin-bottom: 0.5rem;
			font-weight: bolder;
			background-color: rgba(255, 255, 255, 0.639);
			padding: 1rem;
			box-shadow: var(--shadow-1);
			opacity: 1;
			color: black;
		}

		p {
			color: rgb(255, 255, 255);
			opacity: 0.8;
			margin-bottom: 0.5rem;
			font-size: 1.6rem;
		}

		&--paragraph {
			padding-bottom: 1rem;
		}
	}

	&__date {
		font-size: 1.25rem;
		font-weight: bold;
		color: white;
	}

	&--image {
		border: 1px solid var(--border-clr);
		height: 100%;
		overflow: hidden;
		cursor: pointer;
		height: 100%;

		img {
			width: 100%;
			height: 100%;

			&:hover {
				transform: scale(1.1);
				transition: all 0.3s ease-in-out;
			}
		}
	}

	article {
		display: grid;
		gap: 20px;
	}

	&__wrappper {
		height: 100%;
		-webkit-filter: opacity(90%);
		filter: opacity(90%);

		img {
			width: 100%;
			object-fit: cover;
			aspect-ratio: 10 / 5;
			filter: brightness(50%);
		}

		&--large {
			background: var(--image__1--gradient);
			background-blend-mode: darken;

			h1 {
				// background-color: #32ccbc;
				background-color: #2e3440;
				color: white;
				font-size: 2.5rem;
			}
		}

		&--small {
			h1 {
				font-size: 1.8rem;
				background-color: rgba(0, 0, 0, 0.641);
				box-shadow: var(--shadow-1);
			}
		}

		&--large {
			background-image: linear-gradient(135deg, #00ffbb 10%, #02e6ff 60%),
				url("../images/What-Do-Software-Engineers-Do-WOZ-1-min.webp");
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			background-blend-mode: darken, luminosity;
			display: flex;
			justify-content: left;
			align-items: flex-end;
		}

		&--1 {
			background-image: linear-gradient(135deg, #06acf3f5 10%, #45ff0c 100%),
				url(../images/swangz.webp);
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			background-blend-mode: hue;
			display: flex;
			justify-content: left;
			align-items: flex-end;

			h1 {
				// background-color: #e96d71;
				background-color: #0b7285;
				color: white;
			}

			p {
				color: white;
			}
		}

		&--2 {
			background-image: linear-gradient(135deg, #81ffef 10%, #f067b4 100%),
				url(../images/Secondhand-clothing-on-sale-satisfashionug.jpg);
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			background-blend-mode: hue, darken;
			display: flex;
			justify-content: left;
			align-items: flex-end;

			h1 {
				background-color: #2b8a3e;
				color: white;
			}
		}

		&--3 {
			background-image: linear-gradient(
					to bottom,
					rgba(255, 153, 28, 0.372) 10% 20%,
					rgb(150, 255, 13)
				),
				url(../images/Programming-Language-Popularity.jpg);
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			background-blend-mode: darken, luminosity;
			display: flex;
			justify-content: left;
			align-items: flex-end;

			h1 {
				background-color: #9f44d3;
				color: white;
			}
		}

		&--4 {
			background-image: /* linear-gradient(
					to bottom,
					rgba(255, 28, 28, 0.365) 10% 20%,
					rgb(13, 251, 255)
				), */ url("../images/meditation.jpg");
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			background-blend-mode: darken, luminosity;
			display: flex;
			justify-content: left;
			align-items: flex-end;

			h1 {
				background-color: #0e5cad;
				color: white;
			}
		}
	}

	&__comments {
		&--no {
			text-align: center;
			font-size: 1rem;
		}
	}
}
/* artcile page style | ends here */

/* must read artcile | start */
.read {
	&__article {
		display: grid;
		grid-template-columns: 1fr min-content;
		gap: 3rem;

		&--heading {
			color: var(--clr-secondary);
			width: fit-content;
			// padding-block: 2rem;
			border-top-right-radius: 15px;
			border-bottom: 2px solid var(--clr-secondary);
			font-weight: 900;
		}

		&--underline {
			border-bottom: 1px solid var(--border-clr);
			margin-bottom: 3rem;
			margin-inline: var(--body-margin-inline);
			margin-top: var(--margin-top);
		}

		&--underline1 {
			margin-inline: 0;
		}
	}
}
/* must read artcile | ends here*/

/* latest articles | starts here */
.lastest {
	&__articles {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
		gap: 25px;

		&--title {
			font-size: 2rem;
		}

		&--date {
			font-size: 1.2rem;
		}

		article {
			display: flex;
			flex-direction: column;
			width: 100%;
			overflow: hidden;
			background-color: var(--white-clr);
			box-shadow: var(--shadow-1);

			a {
				text-decoration: none;
			}
		}

		&--cta {
			color: var(--clr-primary);
			display: flex;
			justify-content: space-between;
			align-items: center;
			font-size: 2rem;
		}

		&--image {
			background-color: black;
			background-blend-mode: lighten;
			filter: brightness(90%);
			overflow: hidden;

			img {
				width: 100%;
				height: 100%;
				&:hover {
					transform: scale(1.1);
					transition: all 0.5s ease;
				}
			}
		}

		&--text {
			display: grid;
			justify-content: baseline;
			// padding-block: 1.5rem;
			gap: 20px;
			padding: 2rem;

			a {
				display: grid;
				justify-self: left;
			}
		}

		img {
			aspect-ratio: 10 / 7;
			width: 100%;
			object-fit: cover;
		}

		&--p {
			text-align: center;
			padding-block: 2rem;
		}
	}
}
/* latest articles | ends here */

/* Recommeded artciles style | start ends  */
.recommended {
	&__articles {
		margin-top: var(--margin-top);

		article {
			box-shadow: var(--shadow-1);
			display: flex;
			flex-direction: column;
			justify-content: center;
			gap: 2rem;
			position: relative;
			background-image: rgba(132, 226, 104, 0.8);
			border: 1px solid var(--border-clr);
			overflow: hidden;
			transition: all ease-in-out;
			background-color: #fff;

			&:hover {
				.recommended__articles--images {
					filter: blur(5px);
				}

				.recommended__articles--text {
					transform: scale(1);
					transition: all 0.5s ease-in-out;
				}
			}
		}

		&--underline {
			background-color: var(--bg-light-clr);
			margin-bottom: 3rem;
			margin-top: var(--margin-top);
		}

		&--container {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 10px;
		}

		&--heading {
			color: var(--clr-primary);
			width: fit-content;
			padding: 1rem;
			border-bottom: 2px solid var(--clr-primary);
		}

		&--wrapper {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
			gap: 1rem;
		}

		&--images {
			display: flex;
			align-items: center;
			justify-content: center;

			img {
				aspect-ratio: 10 / 9;
				width: 100%;
				height: 100%;
				object-fit: cover;
				-webkit-filter: opacity(90%);
				filter: opacity(90%);
				cursor: pointer;

				&:hover {
					transform: scale(1.1);
					transition: all 0.5s ease;
				}
			}
		}

		&--text {
			font-size: 1.6rem;
			padding-inline: 1.5rem;
			display: flex;
			flex-direction: column;
			gap: 1rem;
			position: absolute;
			font-weight: 500;
			padding-bottom: 1rem;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.398);
			transform: scale(0);
			transition: all 0.3s ease;

			a {
				background-color: var(--clr-primary);
				filter: contrast(2);
				color: white;
				text-decoration: none;
				padding: 1rem 2rem;
				border-radius: 4px;
				box-shadow: var(--border-clr);
			}
		}

		&--btn {
			margin-left: 1rem;
		}
	}
}
/* Recommeded artciles | style here */

/* featured article styles | starts here */
.featured {
	&__articles {
		&--title {
			font-size: 1.8rem;
		}

		&--date {
			font-size: 1rem;
			opacity: 0.8;
		}

		&--wrapper {
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(40rem, 1fr));
			margin-block: var(--margin-section-block-large);
			gap: 25px;

			&--image {
				background-blend-mode: lighten;

				img {
					width: 100%;
					&:hover {
						transform: scale(1.1);
						transition: all 0.5s ease;
					}
				}
			}

			article {
				display: flex;
				flex-direction: column;
				width: 100%;
				overflow: hidden;
				font-size: 1.6rem;

				a {
					text-decoration: none;
				}

				&:nth-child(1) {
					grid-column: 1 / 2;
					grid-row: -2 / span 2;
				}

				&:nth-child(2) {
					display: flex;
					flex-direction: row;
					gap: 15px;
					// grid-column: 2 / 3;
					grid-row: span -2 / 2;
				}

				&:nth-child(3) {
					display: flex;
					flex-direction: row;
					gap: 15px;
					// grid-column: 2 / 3;
					grid-row: 1 / 2;
				}

				// &:nth-child(4) {
				// 	grid-column: 5 / -1;
				// 	grid-row: -2 / 2;
				// }
			}
		}

		&--image {
			overflow: hidden;
			width: 100%;

			img {
				// width: 0%;
				height: 100%;
				border: 1px solid var(--border-clr);
				background-color: var(--border-clr);
				filter: blur(0.5px);
				aspect-ratio: 10 / 6;

				&:hover {
					cursor: pointer;
					transform: scale(1.1);
					transition: all 0.5s ease;
				}
			}
		}

		img {
			width: 100%;
			object-fit: cover;
			background-blend-mode: lighten;
			width: 100%;

			img {
				&:hover {
					transform: scale(1.1);
					transition: all 0.5s ease;
				}
			}
		}

		&--cta {
			color: var(--clr-primary);
			display: flex;
			justify-content: space-between;
			align-items: center;
			font-size: 2rem;
		}

		&--text {
			display: flex;
			flex-direction: column;
			gap: 15px;
			padding-block: 1.4rem;

			a {
				display: grid;
				justify-self: left;
			}
		}
	}
}
/* featured article styles | ends here */
