/* side navigation style start | home page */
aside {
	margin-left: 1rem;
	width: 400px;
	margin-top: calc(var(--margin-top) * 2);
	font-size: 2rem;
	box-shadow: var(--shadow-1);
}

.side {
	margin-top: var(--margin-top);

	&__list {
		&--head {
			color: var(--clr-secondary);
			width: fit-content;
			padding-block: 2rem;
			border-top-right-radius: 15px;
			border-bottom: 2px solid var(--clr-secondary);
			font-weight: 900;
		}

		&--underline {
			border-bottom: 1px solid var(--border-clr);
			margin-bottom: 3rem;
			margin-inline: var(--body-margin-inline);
		}

		&--underline1 {
			margin-inline: 0;
		}

		&--navigation {
			display: flex;

			button {
				width: 100%;
				border: none;
				border: none;
				cursor: pointer;
				padding: 1.8rem 1rem;
				font-weight: 400;
				letter-spacing: 0.6px;

				&:hover {
					background-color: var(--clr-primary);
					color: var(--white-clr);
				}
			}

			h1 {
				color: var(--clr-secondary);
				font-weight: 900;
			}
		}

		&--active {
			border-bottom: 1px solid var(--btn-blue);
		}

		&--content {
			display: grid;
			grid-auto-flow: column;
			gap: 10px;
			margin-block: 1rem;
			padding: 0.8rem;

			// &:not(:last-child) {
			// 	border-bottom: 1px solid var(--border-clr);
			// }
		}

		&--num {
			font-size: 3rem;
		}

		&--img {
			width: 100%;

			img {
				width: 100%;
				aspect-ratio: 10/7;
				object-fit: cover;
				inline-size: 100px;
				writing-mode: vertical-rl;
			}
		}

		&--text {
			padding: 1rem;
			display: grid;
			gap: 10px;
			justify-content: center;
		}

		&--heading {
			font-size: 1.6rem;
		}

		&--paragraph {
			font-size: 1.4rem;
		}

		&__heading {
			margin-block: 1rem;
		}

		&__list {
			a {
				font-size: 0.9rem;
				text-decoration: underline;
			}
		}

		&__nav {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 15px;
		}
	}
}
/* side navigation style end | home page */
