.container {
	display: grid;
	grid-auto-flow: column;
	margin-inline: var(--body-margin-inline);
	margin-top: var(--margin-container-top);

	&__articles {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
		gap: 1px;
		margin-top: 10rem;
		height: 450px;

		&--grid {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
			gap: 1px;
		}
	}
}
