/* footer style | starts here */
.footer {
	background-color: var(--bg-light-clr);
	padding-inline: var(--body-margin-inline);
	padding-block: 5rem;
	margin-top: calc(var(--margin-top) * 2);

	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__navigation {
		color: var(--white-clr);
		display: flex;
		flex-direction: column;
		justify-content: left;
		align-items: baseline;
		gap: 20px;
		margin-bottom: var(--margin-top);

		&--item {
			a {
				color: var(--white-clr);
				font-size: 1.6rem;
			}
		}
	}

	p {
		padding-block: 1rem;
	}
}
/* footer style | ends here */
