:root {
	--border-clr: rgba(0, 0, 0, 0.123);
	--bg-admin-nav: rgba(12, 14, 31, 0.582);

	--white-clr: white;
	--outline-clr: rgb(55, 194, 203);

	--clr-primary: var(--blue-8);

	--clr-secondary: #2c404e;
	--clr-compilment-text: #aed4dc;

	--clr-primary--hover: #68c0dba2;

	--link-clr: rgb(12, 14, 31);
	--orange-clr: rgb(209, 81, 45);

	/* margin top */
	--margin-top: 4rem;
	--margin-container-top: 8rem;

	--body-margin-inline: 8rem;

	--padding-inline-1: 10rem;
	--padding-block-1: 2rem;

	--padding-block-2: 1rem;

	--padding-block-3: 1.5rem;

	/* input padding */
	--input-padding-block: 1rem;
	--input-padding-inline: 1.5rem;

	/* btn color */
	--btn-blue: #246ee9;
	color: rgba(0, 0, 0, 0.646);

	--image__1--gradient: linear-gradient(135deg, #ffd26f 10%, #3677ff 100%);

	--shadow-1: var(--shadow-1);

	--hover-bg: rgba(255, 255, 255, 0.654);

	--footer-clr: rgb(12, 14, 31);

	// margins
	--margin-section-block-small: 4rem;
	--margin-section-block-large: 4rem;

	// paddings
	--padding-section-block: 8rem;

	// body color
	--clr-body: rgba(194, 210, 189, 0.979);
	--clr-body: white;
	--clr-body-bg: rgb(236, 236, 236);
	--clr-body-bg: var(--green-0);

	// errors
	--clr-error: var(--red-9);
}
