/* Admin page styling | starts here */
.admin {
	&__profile {
		border-radius: 50%;

		&--wrapper {
			width: 100%;
			border: 1.5px solid var(--clr-compilment-text);
		}

		img {
			width: 200px;
		}
	}

	&__link {
		a {
			text-decoration: none;
			text-transform: uppercase;
			font-weight: 600;
			margin-block: var(--padding-block-2);
		}
	}

	&__header {
		width: 100%;
		margin-inline: 0;
	}

	&__primary {
		padding-block: var(--padding-block-1);
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-bottom: 1px solid var(--border-clr);
		padding-inline: 4rem;
		background-color: var(--white-clr);
	}

	&__secondary {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-inline: var(--body-margin-inline);
		border-bottom: 1px solid var(--border-clr);
	}

	&__wrapper {
		position: relative;
		display: flex;
	}

	&__container {
		position: absolute;
		right: 0;
		left: 100px;
		// width: max-content;
		display: flex;
		flex-direction: column;
		flex: 1;

		nav {
			position: relative;
		}
	}

	// Admin sidebar navigation | starts here
	&__nav {
		position: fixed;
		top: 0;
		bottom: -1;
		width: 100px;
		height: 100vh;
		// background-color: var(--bg-light-clr);
		background-color: var(--clr-secondary);

		border-right: 1px solid var(--border-clr);

		&--item {
			padding: 2rem 4rem;
			border-bottom: 1px solid var(--bg-light-clr);
			// color: var(--clr-primary);
			color: var(--clr-compilment-text);

			cursor: pointer;

			a {
				color: var(--clr-compilment-text);
			}

			&:first-child {
				border-top: 1px solid var(--bg-light-clr);
				box-sizing: var(--shadow-1);
			}

			&:hover {
				border-left: 5px solid var(--clr-compilment-text);
				background-color: var(--clr-primary--hover);
				filter: brightness(100%);
				color: var(--white-clr);
				transition: all 0.2s ease-in-out;
			}
		}
	}
	// Admin sidebar navigation | ends here

	&__content {
		margin-top: 3rem;
		margin-bottom: 3rem;
		margin-inline: 2.25rem;
		margin-inline: 4rem;

		h1 {
			margin-block: 3rem;
			color: var(--clr-primary);
			font-size: 3rem;
		}

		&--heading {
			display: flex;
			align-items: center;
			gap: 10px;
			font-size: 1rem;
			opacity: 0.8;
			font-weight: lighter;
		}

		&--user {

			img {
				width: 50px;
				border-radius: 50%;

				&:hover {
					cursor: pointer;
					border: 1px solid var(--clr-body);
				}
			}
		}
	}

	&__link {
		a {
			background-color: var(--clr-primary);
			padding: 1rem 2rem;
			color: var(--white-clr);
		}
	}

	&__cards {
		display: grid;
		grid-auto-flow: column;
		grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
		gap: 20px;
		margin-bottom: 3rem;
	}

	&__card {
		padding: 2.5rem 1rem;
		text-align: center;
		border: 1px solid var(--border-clr);
		background-color: var(--white-clr);
		border-radius: 25px;

		&--icon {
			font-size: 2.5rem;
			color: rgb(196, 196, 196);

			i {
				cursor: pointer;
			}
		}

		&:hover {
			box-shadow: var(--shadow-1);
			border-color: var(--clr-primary--hover);
		}

		&:not(:last-child) {
			border-right: 1px solid var(--border-clr);
		}

		&--num {
			margin-block: 1.5rem;
			font-size: 2.5rem;
			color: var(--clr-primary);
			font-weight: bold;
		}
	}

	&__all {
		&--heading {
			display: flex;
			padding: 2rem 3rem;
			align-items: center;
			position: relative;

			h1 {
				font-size: 2rem;
				color: var(--clr-primary);
			}
		}

		&--writters {
			border: 1px solid var(--border-clr);
			background-color: var(--white-clr);
			box-shadow: var(--shadow-1);
			border-radius: 20px;
		}
	}

	&__actions {
		width: 100%;
		padding-block: 3rem;
		padding-inline: 2rem;
		background-color: rgba(128, 128, 128, 0.07);
		background-color: #fff;
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-block: 1px solid var(--border-clr);
	}

	&__search {
		margin-left: auto;
		position: relative;
		width: 300px;

		&--input {
			padding-bottom: 0.5rem;
			padding-left: 1rem;
			border: none;
			border-bottom: 1px solid var(--border-clr);
			width: 100%;
			outline: none;
		}

		&--btn {
			border: none;
			background-color: transparent;
			cursor: pointer;
			position: absolute;
			transform: translateX(-15px);
		}
	}

	&__sort {
		display: flex;
		gap: 10px;
		align-items: center;

		&--performed {
			display: flex;
			margin-top: 1rem;
		}

		&--filter {
			display: flex;
			align-items: center;

			p {
				color: var(--clr-secondary);
			}
		}

		&--tag {
			margin-left: 1rem;
			font-size: 1.3rem;
			opacity: 0.8;
		}

		&--clear {
			margin-left: 1rem;
			text-decoration: none;
		}

		select {
			padding: 1rem;
			cursor: pointer;
			text-transform: capitalize;
			border: none;
			border: 1px solid var(--border-clr);
			outline: none;
			background-color: white;

			option {
				span {
					padding: 1rem;
				}
			}

			&:hover {
				outline: 1px solid var(--clr-primary--hover);
				box-shadow: var(--shadow-1);
			}
		}
	}

	&--logo {
		color: var(--clr-primary);
	}

	&__humbuger {
		border-bottom: 1px solid var(--clr-compilment-text);
		display: flex;
		// flex-direction: column;
		align-items: center;
		justify-content: center;
		padding-bottom: 2.25rem;
		margin-bottom: 1rem;
		padding-top: 4rem;

		&--bar1,
		&--bar2,
		&--bar3 {
			display: block;
			width: 35px;
			height: 4px;
			background-color: var(--clr-compilment-text);
			margin-bottom: 4px;
			border-radius: 5px;
		}

		&--btn {
			background-color: transparent;
			border: none;
			cursor: pointer;
		}
	}
}
/* Admin page styling | starts here */
