.timeline {
	&__wrapper {
		background-color: var(--bg-admin-nav);

		article {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			width: 50%;
		}
	}

	&__image {
		img {
			width: 100%;
		}
	}
}
